<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>Agenda | GoService</title>
</head>
<body>

<div id="content">
    <div th:replace="fragments/header :: header"></div>

    <div class="container my-4">
        <h2>Agenda de Serviços</h2>

        <div class="card w-100 mt-5">
            <div class="card-body">

                <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
                <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
                <form class="row" method="post" th:action="@{/prestador/agenda/pesquisa}">
                    <div class="col">
                        <label for="data-inicio">Data de início</label>
                        <input class="form-control" type="date" name="data-inicio" id="data-inicio" required>
                    </div>
                    <div class="col">
                        <label for="data-fim">Data de finalização</label>
                        <input class="form-control" type="date" name="data-fim" id="data-fim" required>
                    </div>
                    <div class="col d-flex flex-column-reverse">
                        <button type="submit" class="btn btn-primary align-bottom">Buscar <i class="bi bi-search"></i></button>
                    </div>
                    <div class="col d-flex flex-column-reverse">
                        <a th:href="@{/prestador/agenda}" class="btn btn-secondary align-bottom">Todos os serviços</a>
                    </div>
                </form>
                <table class="table w-100">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Especialidade</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Status</th>
                        <th>Cancelar</th>
                        <th>Confirmar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="not ${busca_agendamento}" th:each="agendamento : ${agendamentos}">
                        <td th:text="${agendamento.cliente.nome}"></td>
                        <td th:text="${agendamento.servico.nome}"></td>
                        <td th:text="${agendamento.data}"></td>
                        <td th:text="${agendamento.hora}"></td>
                        <td th:text="${agendamento.statusAgendamento.descricao}"></td>
                        <td>
                            <button class="btn btn-danger" style="width: 8rem" th:disabled="${not agendamento.isCancelable()}" data-bs-toggle="modal" th:data-bs-target="'#cancelModal' + ${agendamento.id}">
                                Cancelar <i class="bi bi-x-square-fill ms-2"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary" style="width: 8rem" th:disabled="${not agendamento.isConfirmable()}" data-bs-toggle="modal" th:data-bs-target="'#confirmModal' + ${agendamento.id}">
                                Confirmar <i class="bi bi-check-square-fill ms-2"></i>
                            </button>
                        </td>
                    </tr>
                    <tr th:unless="${busca_agendamento}" th:each="agendamento : ${busca_agendamento}">
                        <td th:text="${agendamento.cliente.nome}"></td>
                        <td th:text="${agendamento.servico.nome}"></td>
                        <td th:text="${agendamento.data}"></td>
                        <td th:text="${agendamento.hora}"></td>
                        <td th:text="${agendamento.statusAgendamento.descricao}"></td>
                        <td>
                            <button class="btn btn-danger" style="width: 8rem" th:disabled="${not agendamento.isCancelable()}" data-bs-toggle="modal" th:data-bs-target="'#cancelModal' + ${agendamento.id}">
                                Cancelar <i class="bi bi-x-square-fill ms-2"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary" style="width: 8rem" th:disabled="${not agendamento.isConfirmable()}" data-bs-toggle="modal" th:data-bs-target="'#confirmModal' + ${agendamento.id}">
                                Confirmar <i class="bi bi-check-square-fill ms-2"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:each="agendamento : ${agendamentos}" th:if="${agendamento.isCancelable()}">
        <div class="modal fade" th:id="'cancelModal' + ${agendamento?.id}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel">Confirmar Ação</h5>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja cancelar o agendamento do serviço: <strong th:text="${agendamento.servico.nome}"></strong>?
                    </div>
                    <form class="modal-footer" method="post" th:action="@{/prestador/agenda/cancelar}">
                        <input type="hidden" name="agendamentoId" th:value="${agendamento.id}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:each="agendamento : ${agendamentos}" th:if="${agendamento.isConfirmable()}">
        <div class="modal fade" th:id="'confirmModal' + ${agendamento?.id}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmar Ação</h5>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja confirmar o agendamento do serviço: <strong th:text="${agendamento.servico.nome}"></strong>?
                    </div>
                    <form class="modal-footer" method="post" th:action="@{/prestador/agenda/confirmar}">
                        <input type="hidden" name="agendamentoId" th:value="${agendamento.id}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>